PORT=3000

POSTGRES_USER=
POSTGRES_DB=ECOMERCE
POSTGRES_PASSWORD=

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

JWT_SECRET="f2030ff2n2if2f2f3-f#F23f2#fH)FF#FF!YFHFH="

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"